<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express_checkpoint</title>
        <link rel="stylesheet" href="close.css" />

</head>
<style>
    body{
        background-image: url(https://w0.peakpx.com/wallpaper/180/708/HD-wallpaper-sorry-we-re-closed-signage.jpg);
         background-position: center 80% ;
  background-size: cover;
 background-repeat: no-repeat;
  height: 120vh;
  
   }
</style>
<body>
    



</body>
</html>