<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Express_checkpoint</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact us</a></li>
      </ul>
    </nav>
    <h1>Our services</h1><br>
     <h2>- Marketing Degital</h2>
     <h2>- Web developement</h2>
     <h2>- Photoshop</h2>
  </body>
</html>